'##::::'##::'#######::'########::'##::::'##:'##:::::::'########::'######::
 ###::'###:'##.... ##: ##.... ##: ##:::: ##: ##::::::: ##.....::'##... ##:
 ####'####: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##::::::: ##:::..::
 ## ### ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ######:::. ######::
 ##. #: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##...:::::..... ##:
 ##:.:: ##: ##:::: ##: ##:::: ##: ##:::: ##: ##::::::: ##:::::::'##::: ##:
 ##:::: ##:. #######:: ########::. #######:: ########: ########:. ######::
..:::::..:::.......:::........::::.......:::........::........:::......:::

** Required modules to use this script

pip install terminology
